.App {
  /* text-align: center; */
}

.App-logo {
  /* height: 40vmin; */
}

.App-header {
  background-color: #FFF;
  /*  #282c34; */
  color: #282c34;
}

.login-form {
  padding: 1rem;
}

.login-form input {
  display: block;
}

.error-text {
  color: red;
}